@font-face {      font-family: 'kaushan_scriptregular';
   src: url('kaushanscript-regular-webfont.eot');
    src: url('kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('kaushanscript-regular-webfont.woff') format('woff'),
         url('kaushanscript-regular-webfont.ttf') format('truetype'),
         url('kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');}


body{
background-color:yellow;
background-repeat: no-repeat;
background-position:1366px 100px;
background-attachment: fixed;
color:#E6E600
font-family: 'kaushan_scriptregular';
}

header {
	display: block;
	padding: 39px 0 0;
	z-index: 999;
	background:#FF8000;
	background-position: centre;
}


h1 {
color: #B8B5A4;
}

h1, h2{
	text-align: center;
}

p{
	
font-family: Helvetica, Arial, sans-serif;
    line-height: 15pt;
text-indent: 1.5em;
}

section{
background-color:#ffffff;
background-repeat: no-repeat;
background-position: top right, bottom right;
background-origin: content-box;
margin: 20px;
padding: 20px;
width: 1000px;

/* borders */
/*border-style: none;*/
border-style: groove;
border-width: 10px;
border-color: #ff315e;
border-color: grey;
border-right-color: black;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border-radius: 10px;
}

table{
	font-family: Helvetica, Arial, sans-serif;
	background-color:#bbeeff;
}

ol, li, dl{
	font-family: Helvetica, Arial, sans-serif;
}



img
{
	border-image: url(pildid/raam_02_2.png) 20 round;
	border-width: 10px;
}



section, h1, ul, address
{
	margin-left:45px;
}


